@font-face {
    font-family: Fugue;
    src: url(fonts/fugue_mono.otf);
}
@font-face {
	font-family: FugueHeader;
	src: url(fonts/fugue_headline.otf);
}
body {
	background:#fff;
	font-family:FugueHeader;
	font-size:14px;
	line-height:14px;
}
.c {
	width:600px;
	margin:100px auto;
}
.c a {
	display:block;
	text-align:left;
	margin-bottom:5px;
	
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:20px;
	color:#000;
}
.c a:first-child {
	margin-bottom:30px;
}
.f {
	position:absolute;
	bottom:10px;
	right:10px;
	font-size:10px;
	letter-spacing:2px;
}
.f a {
	display:inline-block;
	padding:15px;
	
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#000;
}
.f a:hover {
	color:grey;
}